// https://github.com/element-plus/element-plus/blob/dev/packages/theme-chalk/src/common/var.scss
// 自定义Element 亮色主题

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'white': #ffffff,
    'black': #000000,
    'primary': (
      'base': #059669
    ),
    'success': (
      'base': #059669
    ),
    'warning': (
      'base': #d97706
    ),
    'danger': (
      'base': #dc2626
    ),
    'error': (
      'base': #dc2626
    ),
    'info': (
      'base': #475569
    )
  ),
  $button: (
    'hover-bg-color': var(--el-color-primary-light-9),
    'hover-border-color': var(--el-color-primary),
    'border-color': #dcdfe6,
    'text-color': #606266
  ),
  $messagebox: (
    'border-radius': '12px'
  ),
  $popover: (
    'padding': '14px',
    'border-radius': '10px'
  )
);
